.theme-dark {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --decor-color: #FF0070;
    --border-color: #FF0070;
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --bg-image: url('../images/cover-image-dark.png');
    --rec-display: flex;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000028;
        --text-color: #F1B2CE;
        --title-color: #DB00FF;
        --accent-color: #FF0070;
        --decor-color: #FF0070;
        --border-color: #FF0070;
        --button-hover-color: rgba(255, 0, 112, 0.4);
        --bg-image: url('../images/cover-image-dark.png');
        --rec-display: flex;
    }
}
