*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    block-size: 100%;
}

body {
    min-block-size: 100%;
    font-family: 'IBM Plex mono', monospace;
    line-height: 1.3;
}

img {
    max-inline-size: 100%;
    display: block;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}
