.theme-light {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --decor-color: #353430;
    --border-color: #353430;
    --button-hover-color: rgba(53, 52, 48, 0.4);
    --bg-image: url('../images/cover-image-light.png');
    --rec-display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFF1F7;
        --text-color: #353430;
        --title-color: #FFC2E6;
        --accent-color: #FF8DCB;
        --decor-color: #353430;
        --border-color: #353430;
        --button-hover-color: rgba(53, 52, 48, 0.4);
        --bg-image: url('../images/cover-image-light.png');
        --rec-display: none;
    }
}
