:root {
    /* Шрифты */
    --font-family: 'IBM Plex mono', monospace;
    
    /* Размеры текста */
    --font-size-main: 18px;
    --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-title-footer: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-section-title: 18px;
    
    /* Отступы */
    --padding-mobile: 10px;
    --padding-tablet: 20px;
    --padding-desktop: 20px;
    
    /* Цвета тёмной темы (основная) */
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --decor-color: #FF0070;
    --border-color: #FF0070;
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --bg-image: url('../images/cover-image-dark.png');
    --rec-display: flex;
}
